{# src/OC/PlatformBundle/Resources/views/ByeDem/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Au revoir?</title>
  </head>
  <body>
    <h1>Bye bye demo</h1>

    <p>
      Le Hello World était un grand classique : réussi !
    </p>
  </body>
</html>

<html>
  <body>
    Bye bye demo
  </body>
