{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Suppression d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Supprimer l'annonce</h2>

  {{ include("OCPlatformBundle:Advert:form.html.twig") }}

  <p>
    SUPPRESSION
  </p>

{% endblock %}