{# src/OC/PlatformBundle/Resources/views/Advert/lastApplications.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Dernières candidatures - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Dernières candidatures</h2>
<ul class="nav nav-pills nav-stacked">
  {% for application in listAdverts %}
    <li>
      <a href="{{ path('oc_platform_view', {'id': application.advert.id}) }}"> 
        {{ application.advert.title }} le {{ application.date|date('d/m/Y H:i:s') }}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}